.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.Nav-bar {
  background-color: #1a0b2e;
  border: 1px solid #412567;
  display: flex;
  justify-content: space-between;
  padding: 16px 200px;
  align-items: center;
}
.nav-list ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}

.Nav-bar h3 {
  font-size: 40px;
  font-weight: bold;
}

.gradient-font-color {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-button button {
     background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
