.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.Nav-bar {
  background-color: #1a0b2e;
  border: 1px solid #412567;
  display: flex;
  justify-content: space-between;
  padding: 16px 12.5%;
  align-items: center;
}
.nav-list ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}

.Nav-bar h3 {
  font-size: 40px;
  font-weight: bold;
}

.gradient-font-color {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-button button {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 12px 16px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.Header {
  padding: 101px 0;
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center center;
}
.header-img {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.header-content .header-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-button button {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 12px 20px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.header-img .background {
  z-index: 1;
}
.header-img .foreground {
  position: absolute;
  z-index: 2;
}
.header-content h1 {
  font-size: 60px;
  font-weight: 800;
}
.para {
  font-size: 16px;
  color: #ffffff90;
}
.header-content .para {
  margin-top: 8px;
}
.header-button .transparent {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}
#badge {
  position: absolute;
  z-index: 2;
  background-color: #00ff88;
  padding: 8px 16px;
  border-radius: 1000px;
  color: #1a0b2e;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 3px 27px #00ff8870;
  top: 3%;
  right: 8%;
}
.About {
  background-color: #1a0b2e;
  padding: 50px 12.5% 120px;
  text-align: center;
}
.about-details-container h2 {
  margin-bottom: 16px;
}
.para-line-hight {
  line-height: 2.2;
}
.section-heading {
  font-size: 48px;
  font-weight: 700;
}
hr {
  margin: 80px 0;
  border: 1px solid #ffffff10;
}
.summary {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.summary .summary-card h2 {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}
.summary-card {
  padding: 0 20px;
}
.Feature {
  background-color: #230e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 120px 12.5%;
}
.feature-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  background-color: #35116540;
  border-radius: 40px;
}
.feature-img {
  max-width: 60px;
}
.audio-card {
  grid-area: audio;
}
.device-card {
  grid-area: device;
}
.location-card {
  grid-area: location;
}
.exclusive-card {
  grid-area: exclusive;
}
.resource-card {
  grid-area: resource;
}
.feature-card-container {
  display: grid;
  grid-template-areas:
    "audio device device"
    "audio location location"
    "exclusive exclusive resource";
  gap: 30px;
}
.card-heading {
  font-size: 24px;
  font-weight: bold;
}
.Content {
  background-color: #1a0b2e;
  padding: 120px 12.5%;
}
.episode-card-container {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 440px;
}
.episode-detail {
  background-color: #250d44;
  padding: 6.32%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 40px;
}
.episode-card {
  background-color: #250d44;
  border-radius: 25px;
  height: 100%;
}
iframe {
  width: 100%;
  height: 48.64%;
}
.duration {
  display: flex;
  gap: 6px;
  align-items: center;
}
.duration p {
  color: #00ff88;
  font-weight: 600;
}
.duration img {
  width: 20px;
  height: 20px;
}
iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.episode-detail p {
  line-height: 1.2;
}
.episode-container h2 {
  text-align: center;
}
.host-container {
  margin-top: 120px;
}
.host-container .section-heading {
  margin-bottom: 40px;
  text-align: center;
}
.host-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 40px;
  background-color: #35116540;
  border-radius: 40px;
}
.host-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.host-card-content h3 {
  font-size: 32px;
  font-weight: bold;
}
.host-card-content p {
  line-height: 1.5;
}
.social-logo-container {
  display: flex;
  gap: 8px;
}
.logo-container {
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  border-radius: 100%;
  display: flex;
  align-items:center ;
  justify-content: center;
}
.logo-container img {
  
  max-width: 18px;
  max-height: 18px;
}
.img-bigger {
  width: 20px;
  height: 20px;
}
.Footer{
  background-image:url(assets/footer-bg.png) ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.Footer h1{
  font-size: 64px;
  font-weight: bold;
}
.Footer .social-media-footer {
  display: flex;
  gap: 40px;
}
.social-media {
  display: flex;
  gap: 8px;
}
.nav-button img {
  display: none;
}
@media screen and (max-width: 576px) {
  .Nav-bar {
    padding: 16px 20px;
  }
  .nav-list ul {
    display: none;
  }
  .nav-button button{
    display: none;
  }
  .nav-button img {
    display: flex;
  }
  .Nav-bar .nav-bar-text h3 {
    font-size: 30px ;
  }
  .Header {
    background-size: 150% 150%;
    background-position:center center ;
    padding: 0;
  }
  .header-container {
    padding: 40px 20px;
  }
  .header-img .background {
    max-width: 200px;
  }
  .header-img .foreground {
    max-width: 80px;
    max-height: 80px;
  }
  #badge {
    right: -5% ;
  }
  .header-content h1 {
    font-size: 40px;
  }
  .About {
    padding: 40px 20px;
  }
  .section-heading {
    font-size: 32px;
  }
  .about-details-container .para{
    line-height: normal;
  }
  hr {
    margin: 40px 0;
  }
  .summary {
    flex-wrap: wrap;
    gap: 40px;
  }
 .summary .summary-card h2 {
    font-size: 40px;
  }
  .Feature {
    padding: 40px 20px;
    gap: 16px;
  }
  .feature-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .feature-card {
    padding: 24px;
  }
  .card-heading {
    font-size: 22px;
  }
  .feature-card .para-line-hight {
    line-height: 1.4;
  }
  .Content {
    padding: 40px 20px;
  }
  .episode-card-container {
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
  }
  .episode-detail {
    gap: 8px;
    padding: 16px;
  }
  .episode-detail .card-heading {
    font-size: 20px;
  }
  .episode-detail .para-line-hight {
    line-height: 1.4;
  }
  .host-container{
    margin-top: 60px;
  }
  .host-container .section-heading {
    margin-bottom: 24px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 24px;
    gap: 16px;
  }
  .host-card .host-img {
    max-width: 150px;
  }
  .social-logo-container {
    justify-content: center;
    align-items: center;
  }
  .host-card-content h3 {
    font-size: 24px;
  }
  .Footer {
    padding: 40px 20px;
    gap: 24px;
    background-size: 150% 100%;
  }
  .Footer h1 {
    font-size: 48px;
  }
  .Footer .social-media-footer {
    flex-wrap: wrap;
    gap: 16px;
    max-width: 255px;
    justify-content: center;
    align-items: center;
  }
}