.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.Nav-bar {
  background-color: #1a0b2e;
  border: 1px solid #412567;
  display: flex;
  justify-content: space-between;
  padding: 16px 12.5%;
  align-items: center;
}
.nav-list ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}

.Nav-bar h3 {
  font-size: 40px;
  font-weight: bold;
}

.gradient-font-color {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-button button {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 12px 16px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.Header {
  padding: 101px 0;
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center center;
}
.header-img {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.header-content .header-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-button button {
  background: linear-gradient(25deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 12px 20px;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.header-img .background {
  z-index: 1;
}
.header-img .foreground {
  position: absolute;
  z-index: 2;
}
.header-content h1 {
  font-size: 60px;
  font-weight: 800;
}
.para {
  font-size: 16px;
  color: #ffffff90;
}
.header-content .para {
  margin-top: 8px;
}
.header-button .transparent {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}
#badge {
  position: absolute;
  z-index: 2;
  background-color: #00ff88;
  padding: 8px 16px;
  border-radius: 1000px;
  color: #1a0b2e;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 3px 27px #00ff8870;
  top: 3%;
  right: 8%;
}
.About {
  background-color: #1a0b2e;
  padding: 50px 12.5% 120px;
  text-align: center;
}
.about-details-container h2 {
  margin-bottom: 16px;
}
.para-line-hight {
  line-height: 2.2;
}
.section-heading {
  font-size: 48px;
  font-weight: 700;
}
hr {
  margin: 80px 0;
  border: 1px solid #ffffff10;
}
.summary {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.summary .summary-card h2 {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}
.summary-card {
  padding: 0 20px;
}
.Feature {
  background-color: #230e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 120px 200px;
}
.feature-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  background-color: #35116540;
  border-radius: 40px;
}
.feature-img {
  max-width: 60px;
}
.audio-card {
  grid-area: audio;
}
.device-card {
  grid-area: device;
}
.location-card {
  grid-area: location;
}
.exclusive-card {
  grid-area: exclusive;
}
.resource-card {
  grid-area: resource;
}
.feature-card-container {
  display: grid;
  grid-template-areas:
    "audio device device"
    "audio location location"
    "exclusive exclusive resource";
  gap: 30px;
}
.card-heading {
  font-size: 24px;
  font-weight: bold;
}
.Content {
  background-color: #1a0b2e;
  padding: 120px 200px;
}
.episode-card-container {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.episode-detail {
  background-color: #250d44;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 40px;
}
.episode-card {
  background-color: #250d44;
  border-radius: 25px;
}
.duration {
  display: flex;
  gap: 6px;
  align-items: center;
}
.duration p {
  color: #00ff88;
  font-weight: 600;
}
.duration img {
  width: 20px;
  height: 20px;
}
iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.episode-detail p {
  line-height: 1.5;
}
.episode-container h2 {
  text-align: center;
}
.host-container {
  margin-top: 120px;
}
.host-container .section-heading {
  margin-bottom: 40px;
  text-align: center;
}
.host-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 40px;
  background-color: #35116540;
  border-radius: 40px;
}
.host-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.host-card-content h3 {
  font-size: 32px;
  font-weight: bold;
}
.host-card-content p {
  line-height: 1.5;
}
.social-logo-container {
  display: flex;
  gap: 8px;
}
.logo-container {
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  border-radius: 100%;
  display: flex;
  align-items:center ;
  justify-content: center;
}
.logo-container img {
  
  max-width: 18px;
  max-height: 18px;
}
.img-bigger {
  width: 20px;
  height: 20px;
}
.Footer{
  background-image:url(assets/footer-bg.png) ;
  background-size: contain;
  background-position: center center;
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.Footer h1{
  font-size: 64px;
  font-weight: bold;
}
.Footer .social-media-footer {
  display: flex;
  gap: 40px;
}
.social-media {
  display: flex;
  gap: 8px;
}